@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.page {
  display: grid;
  max-width: 1380px;
  margin: 0 auto;
  grid-template-areas: 
  'h h h'
  's m m';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  min-height: 800px;
  font-family: 'Roboto', sans-serif;
}
.page-content {
  min-height: 100%;
}